@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Navbar styles */
.navbar {
  background: #161616;
  height: 4vw;
  font-size: 1.3vh;
  top: 0;
  z-index: 999;
}

/* Updated CSS */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  text-align: left;
  color: #1DB954;
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
  text-decoration: none;
}

.navbar-links button {
  font-family: 'Poppins', sans-serif;
  background-color: #16161600;
  color: white;
  font-size: 1.2vw;
  border: none;
}

.navbar-links button:hover {
  cursor: pointer;
}

/* Adjusted navbar-links */
.navbar-links {
  list-style-type: none;
  padding-top: 1.5%;
  display: flex;
  flex-direction: row;
  gap: 3vh; /* Adjust the gap to 3vh */
  margin-left: 5vh; /* Add margin to push buttons away from the logo */
}

.login-btn {
  font-size: 2vh;
  background-color: #6e837500;
  padding: 10px;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-family: "DM Sans", sans-serif;
}

.login-btn:hover {
  color: #4ac274;
  border-bottom: 1px solid #1DB954;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}