.sidebar {
    font-family: 'helvetica';
    width: 120px;
    height: 100vh;
    position: fixed;
    left: 25;
    top: 0;
    color: rgb(255, 70, 64);
    padding: 3px;
    font-size: 1.1vw;
  }

  