@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@1000&display=swap');

body {
  background-color: #161616;;
  /* Align all text to the right */
}

.App {

}

.mainPage{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.landTitle {
    text-align: center;


}


section{
    height:75vh;
    display: flex;
    scroll-snap-align: start;
  }
  
  .one{
    margin-top: 4%;
    height: 70%;
    display:flex; 
    flex-direction:row;
    color: #000000;
    text-align: center;
  }

  .newsBox {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 30px; /* Set the height of the div to 100% to make it take the full height of its parent */
    margin-bottom: 2%;
  }
  
  .newAlerts{
    background-color: #a5d6b6;
    color: black;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    height: 30px;
    padding: 5px;
  }
  
  .two{
    margin-top: 5%;
    display:flex; 
    flex-direction:row;
    height: 92vh;
    color: #858585;


    /* Align all text to the right */
    text-align: center;
  }

  .landGridOne {
    height: 22vh;
    display: flex;
    flex-direction: column;
  }
  .landGridTwo {
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
  
  .personal {
    flex: 6; /* Take 30% of the available space */
    padding: 10px; /* Optional: Add padding for better spacing */
    font-size: 3.7vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 100%;
    color: #9b9b9b;

    height: 20%;
  }

  .personalTwo{
    padding: 10px; /* Optional: Add padding for better spacing */
    font-size: 2.7vh;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    flex: 6;
  }

  .homeButtons{
    justify-content: center;

    display: flex;
    flex-direction: row;
  }

  .tryOutButton{
    padding: 10px;
    font-size: 2vh;
    font-family: "Poppins", sans-serif;
    background-color: #00ff59;
    border: 2px solid black;
    border-radius: 7px;
  }

  .tryOutButton:hover{
    background-color: #6dffa0;
    cursor: pointer;
    transition: 0.3s;
  }

  .loginButton{
    margin-top: 2%;
    font-family: "Poppins", sans-serif;
    background-color: #1DB954;
    border-radius: 12px;
    border: none;
    color: #000000;
    font-size: 1.2vw;
    text-decoration: none;
    padding: 10px 10px;
    transition: color 0.2s ease;
    height: 6vh;
  }
  
  .loginButton:hover{
    background-color: #6dffa0;
    text-decoration: none;
    transition: color 0.6s ease-in-out;
    cursor: pointer;
  }
  .buttons{
    padding: 2%;
    display: flex;
    gap: 20px
  }
  .musicSVG, .visualSVG {
    
    flex: 4; /* Take 70% of the available space */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .musicSVG, .visualSVG, img {
    max-width: 100%; /* Set the maximum width for the music SVG */
    max-height: 100%; /* Set the maximum height for the music SVG */
  }

  .buttons{

  }
  
  
  

  .welcomeMSG{
    color: #ffffff;
    text-align: center;
    font-size: 7vh;
  }

  .topTracksMsg{
    color: #ffffff;
    text-align: right;
    font-size: 7vh;
  }

  .subHeading{
      margin-top: 0%;
      color: #1DB954;
      text-align: center;
      font-size: 5vh;
  }

  
  .Home{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  
  
  .testimonial-grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: min(70%,170vw);
    height: min(70%,92vh);
    margin-inline: auto;

  
  }
  .testimonial-gridTwo{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: min(70%,170vw);
    height: min(70%,100vh);
    margin-inline: auto;

  
  }
  
  .testimonial{
    background-color: #161616;
    border-radius: 1px;
    padding: 20px; /* Adjust padding as needed */
    overflow-wrap: break-word;
    
  }
  
  article {
    transition: transform 0.2s ease-in;
  }
  
  .personal{

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  }
  
  .testimonial{

    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.1vw;
    text-align: left;

  
  }
  
  .testimonial:first-child{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
  }
  
  
  .testimonial:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 10;
  }

  footer{
    background-color: #161616;
    text-align: center;
  }