@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@1000&display=swap');

body {
    color: #858585;
    background-image: url("../Images/background.jpg");
    background-position: center;
  }
  
  .center-page {
    border: 2px solid white;
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .renderedPage{
    border: 2px solid green;
    min-width: 50vw;
    max-width: 50vw;
  }
  
  .menu {
    justify-content: space-between; /* Align items evenly in the row */
  }
  
  .table-container {/* Set the background color to black */
    width: 80%;
    height: 300px;
    margin: 20px auto;
    padding: 20px;
    overflow: auto;
  }
  
  /* Style the table */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style the table header cells */
  .columnTitle th {
    background-color: #1DB954;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-weight: bold; /* Add bold font weight */
  }
  
  /* Style the table body cells */
  .table tbody td {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: 'DM Sans', sans-serif; /* Use the 'DM Sans' font for the table body */
  }
  
  /* Style the ranking cells */
  .ranking {
    color: #1DB954;
    font-size: 5vw;
    margin-right: 10px;
    font-family: 'Roboto Slab', serif; /* Use the 'Roboto Slab' font for the ranking */
  }
  
  /* Style the album and artist images */
  .albumImg,
  .artistImg {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 150px;
    border: 2px solid black;
  }
  
  /* Style the Spotify link button */
  .spotify-link {
    display: flex;
    align-items: center;
  }
  
  .spotify-button {
    text-align: center;
    font-size: 1vw;
    display: flex;
    width: 100%;
    max-width: 150px;
    align-items: center;
    color: rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid black;
    text-decoration: none;
    transition: background-color 0.2s ease;
    font-family: 'Poppins', sans-serif; /* Use the 'Poppins' font for the Spotify link button */
    font-weight: bold; /* Add bold font weight */
  }
  
  .spotify-button:hover {
    background-color: #1ED760;
  }
  
  .spotify-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  /* Style the selections container */
  .selections {
    display: flex;
    align-items: left;
    justify-content: left; /* Add this line to center horizontally */
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif; 
  }

  MenuItem{
    font-family: 'Poppins', sans-serif; 
  }
  
  /* Style the duration dropdown */
  .duration {
    font-size: 2vw;
    font-family: 'Poppins', sans-serif; 
    border-top-left-radius: 10px;
    padding: 5px 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    font-weight: bold; /* Add bold font weight */
  }
  
  /* Style the create playlist button */
  .playlist {
    font-family: 'Poppins', sans-serif; 
    border: none;
    background-color: #1DB954;
    color: white;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    font-weight: bold; /* Add bold font weight */
  }
  
  

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #212121;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1DB954;
    border-radius: 0px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #19647e;
}