.App {

}

.mainPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.landTitle {
    text-align: center;

    margin-bottom: 20px;
}
